/* Jelle Mul
11402148 */

body {
  background-color: lightblue;
}
#container {
  width: 900px;
  height: 100%;
  margin: auto;
  background-color: rgb(89,152,229)
}

#map {
  width: 95%;
  height: 500px;
  background-color: grey;
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
}

img {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  max-width: 50%;
  max-height: 30%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.transactions, .transactions svg {
  position: absolute;
}

.transactions text {
  font-size: 15px;
}

.transactions svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.transactions circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 25px;
  margin-left: 25px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#wrapper {
  width: 95%;
  height: 500px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

#dashboard {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

.gmnoprint img {
  max-height: none;
}

.gm-style img {
  max-height: none;
}
