/* Jelle Mul
11402148 */

body {
  background-color: lightblue;
}
#container {
  width: 900px;
  height: 100%;
  margin: auto;
  background-color: rgb(89,152,229)
}

#map {
  width: 95%;
  height: 500px;
  background-color: grey;
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
}

img {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  max-width: 50%;
  max-height: 30%;
}

#wrapper {
  width: 95%;
  height: 500px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

#dashboard {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
